<div class="jumbotron">


  <h1 class="display-4">Welcome to Soccer Scrapper</h1>
 
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Newest Articles</a>
    <a class="btn btn-primary btn-lg" href="/articles" role="button">View Existing Articles</a>


</div>